[Desktop Entry]
Type=Application
Name=SideSwap
GenericName=SideSwap
Comment=SideSwap is a tool which helps users Peg-In, Peg-Out, and atomically swap assets on the Liquid sidechain.
Categories=Network
Exec=/usr/bin/sideswap
Icon=sideswap
StartupNotify=false
Terminal=false
