[Desktop Entry]
Type=Application
Name=SideSwap
GenericName=SideSwap
Comment=SideSwap is the easiest way to send, receive and swap on the Liquid network.
Categories=Network
Exec=/usr/bin/sideswap
Icon=sideswap
StartupNotify=false
Terminal=false
