[package]
name = "sideswap_client"
version = "0.1.2"
edition = "2018"

[lib]
name = "sideswap_client"
crate-type = ["cdylib", "staticlib"]

[dependencies]
sideswap_api = { version = "*", path = "../sideswap_api" }
sideswap_common = { version = "*", path = "../sideswap_common" }
sideswap_libwally = { version = "*", path = "../sideswap_libwally" }
elements = "*"
bitcoin = { version = "0.26", features = [ "use-serde" ] }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
log = "*"
anyhow = "*"
env_logger = "*"
android_logger = "*"
derive_more = "*"
base64 = "*"
gdk-rust = { path = "../gdk_rust" }
gdk-electrum = { path = "../gdk_rust/gdk_electrum" }
gdk-common = { path = "../gdk_rust/gdk_common" }
libc = "*"
prost = "0.6.1"
bytes = "*"
allo-isolate = "*"
chrono = "*"
hex = "*"

[build-dependencies]
prost-build = "0.6.1"
